{% extends "master_page.html" %}

{% block title %}
Welcome
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'user_profile_navbar.html' %}

<div class="container">
    <h2 class="text-primary text-center">Secure Session Management</h2><br>

    <div class="row">
        <div class="center-block" style="width:500px;">
            <div class="panel panel-default ">
                <div class="panel-heading"><h4>Log In</h4></div>
                <div class="panel-body">
                     <div style="text-align:center">
                    <span style="color:red;">Please login to access the application.</span>
                    <span style="color:red;">{{ error }}</span>
                    </div>
                    <form class="form-signin" action="" method="POST">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-check"></span> Log In </button>
                        <br>
                        <a href="/registration">Don't have an account? Sign up </a>
                    </form>


                </div>


            </div>

        </div>
    </div>
</div>
{% endblock %}