{% extends "nav_bar.html" %}

{% block main_panel_template %}

<!-- Users in your sharezone - Start -->
<div id="profile" class="container-fluid">
    <div class="row">
    <div class="col-sm-10"> 
    <div class="panel panel-primary" style="border-color: #34DDDD;">
        <div class="panel-heading" style="background-color: #34DDDD;">
            <div class="center-align" style="color: #000000;">
                <b>Users in your Share Zone </b>
            </div>
        </div>
        <div class="panel-body">
<div class="container-fluid">
{% if users1|length == 0 %}

<p style="text-align: center;"> There are no requests to join your Sharezone at this moment. </p>

{% else %}

{% for object in ShzU %}
{% if object.user.username != user.username and object.request == False %}
    
<table class="table table-condensed">
          <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Accept</th>
          <th>Reject</th>
        </tr>
          </thead>
     <tbody>

        
		<tr> 
      <td> {{ object.user.username }} </td>
			<td> {{ object.first_Name}}</td>
			<td> {{object.last_Name}}</td>
<form method="post">{% csrf_token %}
                        <td><input class="btn btn-success" type="submit" value="Accept" name="acceptRequest"/>
                            <input type="hidden" value={{ object.id }} name="RequestID"/>
                        </td>
</form>
<form method="post">{% csrf_token %}
                        <td><input class="btn btn-warning" type="submit" value="Reject" name="rejectRequest"/>
                            <input type="hidden" value={{ object.id }} name="RequestID"/>
                        </td>
</form>
 </tr>
 </tbody>
    </table>
	{% endif %}
{% endfor %}

  {% endif %}    
  </div>
   
</div>
    </div>
</div>
</div>
</div>
        <!-- Users in your sharezone - End -->
</div>
</div>
{% endblock %}
       